@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome To Dr.Pizza</h1>
    <p>The Most tasty Pizzas in Town!</p>
    <img src="~/Images/unnamed.png" style="width:300px; height:300px;"/>
    <br/>
    <a class="btn btn-primary mt-2" asp-page="Pizzas" style="color:white;">Bring Me the Dr.Pizza Special</a>
</div>