@page
@model PizzaApp.Pages.PizzasModel
@{
}

<div class="text-center">
    <h1>Our Great Collection Of Pizzas!</h1>
    <h4>Choose One or try our Pizza Builder! Then Order And Done!</h4>
    <h4>No Personal Details Require!</h4>
    <h4>We got you Covered!</h4>
</div>
<div class="text-right font-italic">
    <p class="text-secondary">only one pizza per order!</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/Beef.png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/Cheese .png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/Deluxe Dr.Pizza.png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/Ham.png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/mushroom.png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/Pepperoni .png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/pineapple .png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/Tomato sauce .png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <img src="~/Images/Tuna.png" class="img-fluid" />
            </div>
            <div class="col mt-auto mb-auto">
                <h4>Create Your Own Pizza</h4>
                <p>Make Your Own Pizza with Pizza Maker!</p>
                <a class="btn btn-primary" style="color:white" asp-page="Form/CustomizePizza">Try Now!</a>
            </div>
        </div>
    </div>



</div>

