@page
@model PizzaApp.Pages.Checkout.ThankyouModel
@{
}


<div class="text-center">
    <h1>Order Completion</h1>

    <div class="text-center">
        <p>Pizza name is : @Model.pizaaname ,</p>
        <p>Total price for your is : @Model.PizzaPrice $</p>
        <a class="btn btn-danger">Done!</a>
    </div>
</div>
